/**
 * @file
 * This file defines the page layout structure.
 */

#page {
  margin: 0 auto;
}

/**
 * To change the width of a sidebar, just modify the corresponding values of this sidebar.
 * For example, If you want to change the width of the right sidebar to 250px, change the
 * value of each line commented "Right Sidebar width" to 250px.
 */

#section-footer {
  clear: both;
  float: none;
}

/* Layout Helpers */

#section-header,
#section-footer,
#section-main #content .mission,
#section-main #content .breadcrumb,
#section-main #content .node {
  clear: both;
}

/* Front Page Styles */

.front #content-inner {
  width: 100%;
}

.front #front-content-container {
  position: absolute;
  width: 100%;
  top: 100%;
  background: #fff;
}

.front #node-2,
.front #block-views-this-week-menu-header-block,
#front-menu-this-week,
#front-menu-standard,
.front #block-bean-map-hours-block,
.front #block-block-2 {
  margin: 0 0 4em 0;
}

.front #block-bean-front-page-featured-buttons .gallery-item {
  text-align: center;
}

/* Limiting width and adding padding front page */

.front #node-2 .content,
.front #block-bean-front-page-featured-buttons,
.front #block-block-2 {
  max-width: 740px;
  margin: 4em auto 0;
  padding: 0 5px;
}

.front #block-bean-map-hours-block {
  max-width: 900px;
  margin: 4em auto 0;
}

  #block-mysite-mysite-homepage-menu {
    margin: 0 auto 4em;
    list-style: none;
    list-style-image: none;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    max-width: 1100px;
    padding: 0 5px;
  }

#front-menu-standard {
  padding: 0 0 0 0.5em;
}

#front-menu-this-week {
  padding: 0 0.5em 0 0;
}

@media only screen and (min-width: 480px) {

  .two-sidebars #sidebar-first {
    float: left;
    width: 49%;
  }

  .two-sidebars #sidebar-second {
    float: right;
    width: 49%;
  }

}

@media only screen and (min-width: 768px) {

  #content {
    width: 100%;
    padding: 0;
  }

  .two-sidebars #content-inner {
    margin-left: 160px; /* Left Sidebar width */
    margin-right: 160px; /* Right Sidebar width */
  }

  .sidebar-second #content-inner {
    margin-right: 160px; /* Right Sidebar width */
  }

  .sidebar-first #content-inner {
    margin-left: 160px; /* Left Sidebar width */
  }

  #sidebar-first, .two-sidebars #sidebar-first {
    float: left;
    margin-right: -160px;
    width: 160px;
  }

  #sidebar-second, .two-sidebars #sidebar-second {
    float: right;
    width: 160px;
  }

  /* Menu Layuout */

  #front-menu-this-week,
  #front-menu-standard {
    display: inline-block;
    width: 49.5%;
    vertical-align: top;
  }

}

@media only screen and (min-width: 960px) {

  .two-sidebars #content-inner {
    margin-left: 23%; /* Left Sidebar width */
    margin-right: 23%; /* Right Sidebar width */
  }

  .sidebar-second #content-inner {
    margin-right: 23%; /* Right Sidebar width */
  }

  .sidebar-first #content-inner {
    margin-left: 23%; /* Left Sidebar width */
  }

  #sidebar-first, .two-sidebars #sidebar-first {
    float: left;
    margin-right: -23%;
    width: 20%;
  }

  #sidebar-second, .two-sidebars #sidebar-second {
    float: right;
    width: 23%;
  }

}
