/**
 * @file
 * Primary appearance styling.
 */

/** Styling for page.tpl.php elements **/

body {
  background: #fff;
  color: #000;
}

#page {
  margin: 0;
}

#breadcrumb {
  display: none;
}

#section-header #site-name {
  display: none;
}

form#search-theme-form {
  float: right;
  margin: 0;
}

#edit-search-theme-form-1-wrapper label {
  display: none;
}

#site-name a {
  text-decoration: none;
}

#section-navigation {
  background: #0060AC;
  border-left: 7px solid #F0B411;
}

#content-inner {
  max-width: 1000px;
  padding: 0 5px;
  margin: 0 auto;
}

.front #content-inner {
  max-width: 100%;
  padding: 0;
}

.region-sidebar-first {
  margin: 0 0 0.512em;
  padding: 0 0.512em 0.512em;
}

.region-sidebar-second {
  margin: 0 0 0.512em;
  padding: 0 0.512em 0.512em;
}

#section-footer {
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  padding: 0 0 1.875em;
  text-align: center;
}

#section-footer a {
  color: #777;
}

/** Styling for blocks **/

/** Styling for nodes **/

.node .submitted {
  font-style: italic;
  margin: 0 0 0.625em;
}

div.field-label-inline {
  margin: 0 0 1.625em;
}

/* Front Page Styles */

.front #page-title {
  display: none;
}

/* Front Page Full Screen Image Styles*/

.front #section-header {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.front #name-and-slogan, .front .region-header {
  width: 100%;
  height: 100%;
}

.front #block-bean-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('/files/bg.png');
  background-repeat: repeat;
}

.front #block-bean-logo img {
  width: 600px;
  padding: 2em;
}

/* Front Page Banner Image Styles */

#block-views-c14640698a7df1716cfdb1c3f0d33ae7 {
  position: relative;
}

#menu-image {
  background: url('/files/attachments/5101_sign.jpg') center center / cover no-repeat fixed; /*Default no results image*/
}

.front .menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 8vw;
  font-weight: bold;
  color: #fff;
  font-family: 'Poiret One', sans-serif;
  text-align: center;
}

.front .menu-image {
  height: 10em;
  overflow: hidden;
  position: relative;
  padding: 15% 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.bg-dots {
  background-image: url('/files/bg.png');
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Menu Node Styles */

.node-type-menu #content-inner {
  max-width: 1600px;
  margin: 0 auto;
}

.menu-item {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Map Block Styles */
.map {
  background: #dedede;
  padding: 2em;
  overflow: auto;
}

/* Recipe Node Styles */
.node-type-recipes .content {
  width: 80%;
  margin: 0 auto;
}

.node-type-recipes .field-name-field-amount {
  float: left;
  width: 8em;
}

.node-type-recipes .field-name-field-image {
  text-align: center;
}

.node-type-recipes .title {
  text-align: center;
}

.node-type-recipes .field {
  margin: 0 0 1.625em;
}

/* Format links section. */

.node .content .links {
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  text-transform: uppercase;
}

.node .content .links li {
  padding: 0 0.382em 0 0;
}

.node .content .links a {
  background: #ffa;
  -moz-border-radius: 0.262em;
  border-radius: 0.262em;
  color: #777;
  padding: 0.134em 0.328em;
  text-decoration: none;
}

.node .content .links a:hover {
  color: #555;
  text-decoration: underline;
}

/* Gallery Content Pattern Styles */

.gallery-container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.gallery-item {
  min-width: 0; /*hack for firefox 3747 */
  flex: 1 0 200px;
  padding: 0 0.5em 1em 0.5em;
}

/** Media Queries **/

@media only screen and (min-width: 545px) {

  #section-navigation {
    border: none;
    border-bottom: 7px solid #F0B411;
  }

}

@media only screen and (min-width: 768px) {

  #content-inner {
    padding: 1.5em 0.625em 1.5em;
  }

}

@media only screen and (min-width: 948px) {

  .gallery-4 .gallery-item {
    width: 25%;
  }
  .gallery-3 .gallery-item {
    width: 33.3333%;
  }
  .gallery-2 .gallery-item {
    width: 50%;
  }

}

@media only screen and (min-width: 1100px) {

  .map img {
    width: 70%;
    padding: 0 0 0 2em;
  }

  .left {
    float: left;
    width: 30%;
    margin: 0 !important;
  }

  .front #ordering-image,
  .front #menu-image,
  .front #section-header {
    background-attachment: fixed;
  }

}
