/**
 * @file
 * Menu styling.
 */

/* Main Navigation */

ul#main-menu {
  font-size: 1.25em; /* 17.500px */
  line-height: 1.2em;
  display: block;
  margin: 0 auto;
  text-align: center;
}

ul#main-menu li.expanded,
ul#main-menu li {
  display: block;
  padding: 0.5em 0.6em;
  text-align: left;
  margin: 0;
}

ul#main-menu a {
  padding: 0.41em 0.512em;
  text-decoration: none;
  color: #FFF;
}

ul#main-menu li.active {
  background: #F0B411;
}

ul#main-menu li.active a {
  color: #333;
}

/* Sticky Navigation */
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

/* Secondary Navigation */

ul#secondary-menu {
  float: right;
  line-height: 1.5em;
  padding: 0.25em 0; /* todo: test these values */
}

/* Sidebar Menus */

.sidebar ul.menu {
  margin: 0;
  text-align: center;
}

.sidebar ul.menu li {
  margin: 0;
}

.sidebar ul.menu a {
  font-weight: normal;
}

.sidebar ul.menu a.active {
  font-weight: bold;
}

.sidebar ul.menu a.active:hover {
  text-decoration: none;
}

.sidebar ul.menu .expanded,
.sidebar ul.menu .collapsed {
  list-style-image: none;
  list-style-type: none;
}

.sidebar ul.menu ul.menu {
  margin: 0 0 0 0.8em;
}

.sidebar ul.menu ul.menu ul.menu {
  margin: 0 0 0 0.8em;
}

.sidebar ul.menu li ul.menu li.last {
  padding: 0;
}

/* Apply specific formatting for a menu called "footer links" */

#block-menu-menu-footer-links ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#block-menu-menu-footer-links ul li {
  display: inline;
  margin: 0;
  padding: 0 2px;
}

#block-menu-menu-footer-links a {
  color: #444;
  font-size: 11px;
  font-weight: normal;
  text-decoration: underline;
}

@media only screen and (min-width: 545px) {

  ul#main-menu > li {
    display: inline-block;
    text-align: center;
  }

}

@media only screen and (min-width: 768px) {

  .sidebar ul.menu {
    text-align: left;
  }

}

